<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rocketmqConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start"
          destroy-method="shutdown">
        <property name="consumerGroup" value="${application.name}"/>
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
        <property name="messageListener" ref="orderMessageListener"/>
        <property name="subscription">
            <map>
                <entry key="${rocketmq.order.topic}" value="*"/>
            </map>
        </property>
    </bean>

    <bean id="orderMessageListener" class="com.ares.service.message.listener.CommonMessageListener">
        <property name="messageHandler" ref="orderMessageHandler"/>
    </bean>

    <bean id="rocketmqProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer" init-method="start"
          destroy-method="shutdown">
        <property name="producerGroup" value="${application.name}"/>
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
    </bean>

</beans>